<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .detailPage {
            font-family: "Noto Sans KR", sans-serif; /* 기본 폰트 */
            font-optical-sizing: auto;
            font-weight: 400; /* 100-900 */
            font-style: normal; /* 기본 폰트 스타일 */
        }
        .reviewPage {
        }
    </style>
</head>
<body>
<th:block th:replace="~{/layout/basic::setContent(~{this::content},~{this::title})}">
    <div class="fixed-header">
        <title th:fragment="title">Festival</title>
        <th:block th:fragment="content"></th:block>
    </div>
</th:block>
<div class="container">
    <div class="allPage">
        <div th:utext="${fastApiResponse}" class="detailPage"></div>
        <div th:replace="~{festival/review}" class="reviewPage"></div>
    </div>
</div>

<script>
    sessionStorage.setItem('checkURL', window.location.href); // 상세 페이지 세션 스토리지 저장
</script>
</body>
</html>